<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Web Application</display-name>
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.steel.servlet.LogFilter</filter-class>
        <init-param>
            <param-name>site</param-name>
            <param-value>谷歌</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.steel.servlet.HelloWorld</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>com.steel.servlet.HelloForm</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CheckBox</servlet-name>
    <servlet-class>com.steel.servlet.CheckBox</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckBox</servlet-name>
    <url-pattern>/CheckBox</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>ReadParams</servlet-name>
        <servlet-class>com.steel.servlet.ReadParams</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadParams</servlet-name>
        <url-pattern>/ReadParams</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayHeader</servlet-name>
        <servlet-class>com.steel.servlet.DisplayHeader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayHeader</servlet-name>
        <url-pattern>/DisplayHeader</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>Refresh</servlet-name>
      <servlet-class>com.steel.servlet.Refresh</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>Refresh</servlet-name>
      <url-pattern>/Refresh</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ShowError</servlet-name>
      <servlet-class>com.steel.servlet.ShowError</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ShowError</servlet-name>
      <url-pattern>/ShowError</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExceptionMsg</servlet-name>
        <servlet-class>com.steel.servlet.ExceptionMsg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExceptionMsg</servlet-name>
        <url-pattern>/ExceptionMsg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.steel.servlet.ErrorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type >
        <location>/ErrorHandler</location>
    </error-page>

    <servlet>
        <servlet-name>ReadCookies</servlet-name>
        <servlet-class>com.steel.servlet.ReadCookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookies</servlet-name>
        <url-pattern>/ReadCookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCookies</servlet-name>
        <servlet-class>com.steel.servlet.DeleteCookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookies</servlet-name>
        <url-pattern>/DeleteCookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>com.steel.servlet.SessionTrack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/SessionTrack</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout> <!--单位分-->
    </session-config>

    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.steel.servlet.UploadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PageRedirect</servlet-name>
        <servlet-class>com.steel.servlet.PageRedirect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PageRedirect</servlet-name>
        <url-pattern>/PageRedirect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PageHitCounter</servlet-name>
        <servlet-class>com.steel.servlet.PageHitCounter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageHitCounter</servlet-name>
        <url-pattern>/PageHitCounter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>com.steel.servlet.SendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetLocale</servlet-name>
        <servlet-class>com.steel.servlet.GetLocale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLocale</servlet-name>
        <url-pattern>/GetLocale</url-pattern>
    </servlet-mapping>

</web-app>
